

@media (max-width : 1200px){
    .head{
        height: 550px;
    }
    .head__subtitle{
        width: 70%;
        font-size: 22px;
        padding-top: 10px;
    }
    .head__title{
        padding-top: 80px;
        font-size: 80px;
    }
    .service__card-wrap{
        height: 250px;
        margin: 15px;
    }
    .service__card-description{
        height: 250px;
        line-height: 1.2;
    }
}

@media (max-width : 992px){
    .head{
        background-position: 60% 0;
    }
    .head__title{
        padding-top: 60px;
        font-size: 60px;
    }
    .head__subtitle{
        font-size: 20px;
    }
    .service__card-wrap{
        margin: 15px 0;
        height: 210px;
    }
    .service__card-title {
        font: 600 25px/28px 'Minion';
        padding: 10px;
        
    }
    .service__card-description {
        height: 210px;
        padding: 15px;
        font: 16px/1.11 'Lato';
    }
}

@media (max-width : 766px){
    .head__title{
        padding-top: 40px;
    }
    .head{
        background-position: 80% 0;
    }
    .head__subtitle{
        width: 55%;
        line-height: 1.2;
    }
    .head__consult-btn{ margin-top: 30px; }
    .title__break{display: block;}
    
    .who__img-wrapper {
        width: 140px;
        height: 140px;
    }
    .who__img {
        width: 140px;
        height: 140px;
    }
    .who__name {
        font-size: 25px;
        padding-top: 20px;
    }
    .who__learn-more {
        font-size: 20px;
    }

    .service__card-wrap{
        height: 240px;
    }
    .service__card-description {
        height: 240px;
        font: 17px/1.2 'Lato';
    }
    .service__card-title {
        font: 600 27px/28px 'Minion';
    }
}

@media (max-width : 500px){
    .head{
        background-position: 20% 0;
        height: 430px;
    }
    .head__title{
        font-size: 50px;
        text-align: center;
    }
    .head__subtitle{
        width: 90%;
        padding-top: 40px;
    }
    .title__break{display: none;}

    .heading-wrap {
        margin: 55px auto;
        text-align: center;
        padding-bottom: 10px;
        max-width: 300px;
        border-bottom: 1px solid #ccc;
        position: relative;
    }
    .heading {
        font-size: 42px;
    }
    .heading-wrap:after {
        bottom: -3px;
        right: calc(50% - 30px);
        width: 60px;
        height: 6px;
        background-color: #9C865F;
    }

    .service__card-wrap{
        height: 210px;
        margin: 0;
    }
    .service__card-wrap br{ display: none; }
    .service__card-description {
        height: 210px;
        font: 15px/1.1 'Lato';
    }
    .service__card{
        padding: 0;
    }
}

@media (max-width : 410px){
    .head__title{
        font-size: 40px;
        font-weight: 500;
    }
    .head__subtitle{
        width: 100%;
        padding-top: 25px;
    }
    .service__card-title{
        word-wrap: break-word;
        font: 600 24px/28px 'Minion';
    }
    .service__card-description {
        height: 210px;
        padding: 15px;
        font: 16px/1.11 'Lato';
    }
}

@media (max-width : 355px){
    .head__title{   
        font-size: 35px;
    }
    .head__subtitle{
        font-size: 19px;
    }
    .head__consult-btn{width: 100%; text-align: center;}

    .who__learn-more {
        font-size: 18px;
    }

    .who__img-wrapper {
        width: 120px;
        height: 120px;
    }
    .who__img {
        width: 120px;
        height: 120px;
    }

}

@media (max-width : 330px){
    .who__icon{
        display: none;
    }
}