/* MAIN MENU */

.menu__logo{
    margin-top: 10px;
    width: 320px;
    margin-bottom: 12px;
}
.menu__tabs{
    display: flex;
    justify-content: center;
}
.menu__tab, .menu__tab:hover{
    list-style: none;
    display: inline-block;
    margin: 0 13px 13px 13px;
    color: #393939;
    font-family: 'Lato';
}


/* HEADER */

.head{
    height: 670px;
    background: url(../img/head_bg.jpg) no-repeat center;
    background-size: cover;
}
.head__title{
    font: 400 92px/0.9 'Minion';
    color: #6A4520;
    padding-top: 110px;
}
.title__break{
    display: none;
}
.head__subtitle{
    font: italic normal 24px/28px 'Lato';
    color: #5a4735;
    padding-top: 20px;
    width: 60%;
}

.head__consult-btn, .head__consult-btn:hover{
    display: inline-block;
    padding: 18px;
    font: 19px 'Lato';
    margin-top: 40px;
    border-radius: 7px;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    background: #B99B65;
}
.head__consult-btn:hover{
    background: #a18653;
    margin-top: 35px;
}


/* HEADING */

.heading-wrap{
    margin: 90px auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 460px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.heading-wrap:after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: calc(50% - 43px);
    width: 86px;
    height: 9px;
    background-color: #9C865F;
}
.heading{
    font: 50px/1 'Minion';
    color: #383838;
}


/* WHO BLOCK */

.who__person{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.who__img-wrapper {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.who__img {
    width: 180px;
    height: 180px;
}

.who__name{
    font: 500 28px/1 'Minion';
    padding-top: 33px;
    padding-bottom: 20px;
    color: #A68F65;
}
.who__learn-more{
    color: #444;
    font: 200 22px 'Lato';
    padding-bottom: 3px;
    border-bottom: 1px dashed #444;
    cursor: pointer;
}
.who__icon{
    width: 9px;
    transition: 0.4s;
}
.who__learn-more.opened .who__icon{
    transform: rotate(180deg);
}

.who__details-wrapper{
    width: 320px;
    display: none;
    margin: 30px auto 30px;
}
.who__detail-title{
    font: 16px 'Minion';
    text-transform: uppercase;
    padding-top: 17px;
}
.who__detail{
    font: 20px 'Lato';
    color: #393939;
    padding-top: 17px;
}